@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for the menu */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
.react-calendar{
  width: 100% !important;
  border: none !important;
  font-family: "IBM Plex Sans Arabic", sans-serif !important;
}
.react-calendar__tile--active{
  background-color: #c3ebfa !important;
  color:black !important;
}
.react-calendar__navigation__label__labelText{
font-weight: 600 ;
}